@page
<!DOCTYPE html>
<html>
<head>
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
        }
        .grid-item {
            background-color: green;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
                .grid-item-1 {
            background-color: red;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>
</head>
<body>

    <h1>Grid Elements</h1>

    <p>A Grid Layout must have a parent element with the <em>display</em> property set to <em>grid</em> or <em>inline-grid</em>.</p>

    <p>Direct child element(s) of the grid container automatically becomes grid items.</p>

    <div class="grid-container">
        <div id="1" class="grid-item">1</div>
        <div id="2" class="grid-item">2</div>
        <div id="3" class="grid-item">3</div>
        <div id="4" class="grid-item">4</div>
        <div id="5" class="grid-item">5</div>
        <div id="6" class="grid-item">6</div>
        <div id="7" class="grid-item">7</div>
        <div id="8" class="grid-item">8</div>
        <div id="9" class="grid-item">9</div>
    </div>
</body>
</html>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
